<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <title>homepage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
      body{
      background: linear-gradient(to bottom right, #34e89e, #0f3443);
      }
    </style>
  </head>
  <body>
    <br>
    <br>
    <center>
      <h1> Welcome, {{session['username']}}</h1>
    </center>
    <br>

    {% if message %}
      <center>
        <h2> {{message}} </h2>
      </center>
    {% endif %}
    
    <ul id="message-list">
      <center>
      {% for message in messages %}
        {%if message['read'] == True %}
        <li class="read">
        {% else %}
        <li>
        <div class="unread"></div>
        {% endif %}
          <a href="/message/{{message['id']}}">
            <h3> {{message['sender'] }} </h3>
            <h4> Subject: {{message['subject'] }} </h4>
            <h5>
              {{message['time']}}
              <br>
              {{message['date']}}
            </h5>
          </a>
        </li> 
        <br>
      {% endfor %}
      </center>
    </ul>

    <div class="container"><a class="growbutton" href="/logout">Logout</a></div>

    <div class="button-container">
      <a class="button" href="/new"><img src="https://static.thenounproject.com/png/232528-200.png" /></a>
    </div>
  </body>
</html>