<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <title>Message</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    <center>
      <br>
      <br>
      <h1 class="elsender">From: {{message['sender']}} </h1>
      <br>
      <br>
      <h2 class="elsubject"> {{message['subject']}} </h2>
      <br>
      <br>
      <p class="elmessage"> {{message['message']}} </p>
      <br>
      <br>
      <div id="timedate">
        <h5 class="messagetimedate">
          Sent at:
          <br>
          {{message['time']}}
          <br>
          {{message['date']}}
        </h5>
      </div>
      <a class="back-button" href="/home"> <img src="https://img.icons8.com/ios/452/back--v1.png" /> </a>
      </center>
  </body>
</html>