<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <title>New Message</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    <center>
      <br><br>
      <h1>New Message</h1>
      <form action="/new" method="POST">
        <input type="text" placeholder="Recipient" name="recipient" />
        <br>
        <br>
        <input type="text" placeholder="Subject" name="subject" />
        <br>
        <br>
        <textarea placeholder="Message" name="message"></textarea>
        <br><br>
        <input type="checkbox" name="encrypted" id="encrypted"/>
        <label for="encrypted">Encrypt this Message? </label>
        <br><br>
        <input type="password" id="password" name="password" placeholder="Type Password" />
        <br><br>
        <input type="submit" placeholder="Send!" name="send" />
      </form>
    </center>

    <a class="back-button" href="/"> <img src="https://img.icons8.com/ios/452/back--v1.png" /> </a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
      $("#password").hide()
      $("#encrypted").click(function() {
        if ($(this).is(":checked")) {
          $("#password").show()
        }
        else {
          $("#password").hide()
        }
      })
    </script>
  </body>
</html>